<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css"  /> 

	<title>WhereIsRachel</title>
</head>

<body>

<div class="container">



	<h1><%= title %></h1>

	<ul>
			<li><%= "Bill Id:" +  bills[index].billId + " Markers: " %>
			<% for (var j = 0; j < bills[index].billMarkers.length; j++) { %> 
				<%="(" + bills[index].billMarkers[j].currentLocation.lat +"," + bills[index].billMarkers[j].currentLocation.lng + ")" %>
			<% } %>
			</li> 

	</ul>

	<form action="/add" method="post" name="myForm">

		<input type="hidden" name="lat">
		<input type="hidden" name="lng">

		<input type="hidden" name="billId">
		<input type="submit" value="Check-In" onclick="addMarker()" >
		<input type ="button" value="HomePage" onclick='goToHomePage()'>
	</form>

    <div id="map">
		<script async defer
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs7C0NGcrkrDFvqrqH8_nzbwz1BrZIr4Y&callback=initMap">
	    </script>

	    <!-- Redirect to home page -->
	    <script>
		function goToHomePage(){
		    window.location = '/';   
		}
	    </script>

	    <script>

	    	//Directions
	        var directionsDisplay;
    		var directionsService = new google.maps.DirectionsService();

    		// Map properties
	   		var coords;
	   		var map;
	   		var options;
	   		var marker;
	   		var items = <%- JSON.stringify(items) %>;
	   		var billId = <%- JSON.stringify(bills[index].billId) %>;

			function initMap(position) {
				coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				options = {
				    zoom: 11,
				    center: coords,
				    mapTypeControl: false,
				    navigationControlOptions: {
				    	style: google.maps.NavigationControlStyle.SMALL
				    },
				    mapTypeId: google.maps.MapTypeId.ROADMAP
			  	};

				map = new google.maps.Map(document.getElementById("map"), options);
				

				var flightPlanCoordinates = [];

				for (var key in items){
				  	var data = items[key];
				  	
				  	marker = new google.maps.Marker({
				  		position: new google.maps.LatLng(data.currentLocation.lat, data.currentLocation.lng),
				  		map: map
				  	});

				  	// Add current location
				  	flightPlanCoordinates.push(marker.position);

				}

					var flightPath = new google.maps.Polyline({
				    path: flightPlanCoordinates,
				    geodesic: true,
				    strokeColor: '#FF0000',
				    strokeOpacity: 1.5,
				    strokeWeight: 2.5
				  });

				   flightPath.setMap(map);

				document.forms["myForm"].elements["lat"].value = position.coords.latitude;
				document.forms["myForm"].elements["lng"].value = position.coords.longitude;
				document.forms["myForm"].elements["billId"].value = billId;
			}

			// Adds a marker to the map.
			function addMarker() {
			  // Add the marker at the clicked location, and add the next-available label
			  // from the array of alphabetical characters.
			  marker = new google.maps.Marker({
			  	title: id,
			    position: coords,
			    map: map
			  });
			
			// Set the newLocation variable
			// document.forms["myForm"].elements["newLocation"].value = coords;

			}

			if (navigator.geolocation) {
			  navigator.geolocation.getCurrentPosition(initMap);
			} else {
			  error('Geo Location is not supported');
			}
			google.maps.event.addDomListener(window, 'load', initMap);
			

	    </script>


	</div>

		<script src="jquery/dist/jquery.js"></script>
		<script src="bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>